/* desktop */
.desktop {
    height: calc(100vh - 45px);
    background-color: rgb(61, 34, 0);
     padding: 10px;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(8,1fr);
}


.desktop-icons{
  

}
.iconContainer img{
    height: 40px;
}
/* #icon {
    height: 50px;
}

.icon-container p {
    color: white;

} */




/* footer */
.taskbar {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 45px;
    width: 100vw;
    background-color:  rgba(5, 5, 5, 0.9);
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    
}
.widgets{
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.taskbar-icons {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Align items vertically in the center */
    height: 100%;
}

.taskbar-icons img {
    max-height: 25px;
    /* Set a maximum height for the icons */
    margin: 0 10px;
    /* Add some margin to space out the icons */
}


.taskSearchBar {
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 0.1px solid rgb(60, 60, 60);
    border-bottom: 0.1px solid rgb(44, 44, 44);
    padding-left: 15px;
}
#taskbarSearchIcon{
    font-size: 12px;
    color: rgb(154, 154, 154);
}

.taskSearchBar input {
    border: none;
    outline: none;
    background: transparent;
    /* Make the input background transparent */
    color: rgb(0, 0, 0);
    /* Set the text color to white */
    width: 100%;
    /* Make the input take the full width of the parent */
    padding: 8px;
    /* Add some padding inside the input */
}






/* controlbar */
.controlBar{
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    gap: 8px;
}
.showHiddenIcon{
    margin: 10px;
}
.navigationPannel{
    letter-spacing: 3px;
}


.notification{
    font-size: 15px;
}
.dateTime{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#time{
 text-align: right;   
}
.copilot img{
    height: 30px;
}