


/* desktop */
.desktop {
  background-image: url(images/1dark.jpg);
    height: calc(100vh - 45px);
    background-color: rgb(61, 34, 0);
     padding: 10px;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(8,1fr);
    overflow: hidden;
    background-size: 1400px 850px; /* Fixed width and height */
    
}



.desktop-icons{
    display: grid;
    gap: 5px;
  text-align: center;

}
.iconContainer{
height: 5rem;
}
.iconContainer img{
    height: 40px;
}
.iconContainer:hover{
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1);
}
#desktopIcon{
    
}
/* #icon {
    height: 50px;
}

.icon-container p {
    color: white;

} */




/* footer */
.taskbar {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 45px;
    width: 100vw;
    background-color:  rgba(5, 5, 5, 0.9);
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    
}


/* taskbar icon */
.widgetsBtn{
    grid-column: 1;
}
.widgetsWindow {
    display: none;
    background-color: rgba(50, 50, 50, 0.5);
    position: absolute;
    width: 600px;
    left: 15px;
    bottom: 56px;
    height: 730px;
    border-radius: 7px;
    padding: 0 22px;
    transform: translateY(100%);
    transition: transform 0.1s ease;
}

.animate-widgetsWindow {
    animation: slide-up 0.3s forwards; /* Animate the window up */
}

.animate-widgetsWindow-reverse {
    animation: slide-down 0.1s forwards; /* Animate the window down */
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}



#widgets{
    position: absolute;
    top: 15%;
    left: 15px;
    height: 25px;
}
.start-btn{
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.taskbar-icons {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Align items vertically in the center */
    height: 100%;
}






.taskbar-icons img {
    max-height: 25px;
    /* Set a maximum height for the icons */
    margin: 0 10px;
    /* Add some margin to space out the icons */
}


.taskSearchBar {
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 0.1px solid rgb(60, 60, 60);
    border-bottom: 0.1px solid rgb(44, 44, 44);
    padding-left: 15px;
    margin-right: 5px;
}
#taskbarSearchIcon{
    font-size: 12px;
    color: rgb(154, 154, 154);
}

.taskSearchBar input {
    border: none;
    outline: none;
    background: transparent;
    /* Make the input background transparent */
    color: rgb(0, 0, 0);
    /* Set the text color to white */
    width: 100%;
    /* Make the input take the full width of the parent */
    padding: 8px;
    /* Add some padding inside the input */
}
.ftrTaskbar-icons{
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s;
}

.ftrIcon:hover {
    border-radius: 3px;
    /* border-top: 0.1px solid rgba(49, 49, 49, 0.1); */
    background-color: rgba(255, 255, 255, 0.1);
}






/* controlbar */
.controlBar{
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    gap: 8px;
}
.showHiddenIcon{
    /* margin: 10px; */
    padding: 10px;
}
.showHiddenIconUp{
  display: none;
    position: absolute;
    right: 190px;
    bottom: 56px;
    height: 50px;
    width: 100px;
border-radius:6px;
    background-color: rgba(50, 50, 50, 0.6);
}
.navigationPannel{
    letter-spacing: 3px;
    padding: 10px 7px 10px 7px;
}


.notification{
    font-size: 15px;
}
.dateTime{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 1px;
}
#time{
 text-align: right;   
}
.copilot img{
    height: 30px;
}
/* navigationMenu */
.navigationMenu {
    display: none;
    background-color: rgba(50, 50, 50, 0.5);
    position: absolute;
    width: 400px;
    right: 15px;
    bottom: 56px;
    height: 450px;
    border-radius: 7px;
    padding: 0 22px 0 22px ;
    transform: translateY(100%);
}

.navigationMenu-iconList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding-top: 20px;
    gap: 20px; /* Optional: Add some space between columns */
}

.navigationMenu-icon {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(40, 40, 40, 0.9);
    border-radius: 7px;
    border: 2px solid rgba(150, 150, 150, 0.1);
    transition: all 0.3s ease-in;
}
.animate-window {
    animation: slide-up 0.3s forwards; /* Animate the window up */
}

.animate-window-reverse {
    animation: slide-down 0.1s forwards; /* Animate the window down */
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

.navigationMenu-icon:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.wifi, .bluetooth, .rightArrow, .fa-plane {
    font-size: 24px; /* Adjust icon size as needed */
}

.rightArrow {
    margin-top: 5px; /* Add some spacing between icon and arrow */
}

/* .wifi{
    border-right: 1px solid white 
} */
/* #wifiIcon{
    padding: 9px 25px 9px 25px
}
#bluetooth{
    padding: 9px 30px 9px 30px
}
     */
#airplane{
    padding: 5px 20px 5px 20px;
}